<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Evaluación final s2 Katherine Briceño</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Acme|Josefin+Sans|Poppins|Ubuntu|Varela+Round|Work+Sans" rel="stylesheet">
</head>
<body>
  <!-- <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
  </div> -->

  <div class="box__searcher">
    <label class="label" for="searcher">Buscador de series</label>
    <div class="box__input">
      <input placeholder="Escribe aquí el nombre de una serie" class="input" id="searcher" type="text" name="searcher" value="">
      <button class="btn">Search</button>
    </div>
  </div>

  <p class="results__msg"></p>
  <ul class="results"></ul>

  <script src="assets/js/main.js"></script>
</body>
</html>
